<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Alfan Nur Fauzan">
    <meta name="description" content="mencari teks القرآن menggunakan alfabet">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <title>Quranize</title>

    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/bulma.min.css">
    <link rel="stylesheet" href="styles/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="styles/fontawesome/css/brands.min.css">
    <link rel="stylesheet" href="styles/fontawesome/css/solid.min.css">
    <script src="scripts/vue.global.prod.js"></script>
    <script src="scripts/app.js" type="module"></script>
</head>

<body>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <p class="title"><a href="">Quranize</a></p>
                <p class="subtitle">
                    mencari teks <span class="quran-text">القرآن</span> menggunakan alfabet
                </p>
            </div>
        </div>
    </section>

    <section class="section" id="quranize-app" v-cloak>
        <div class="container">
            <div class="block">
                <div class="field">
                    <label class="label">Kata Kunci</label>
                    <div class="control has-icons-left" :class="{'is-loading': !quranize}">
                        <input title="Kata Kunci" type="text" class="input is-rounded"
                            :class="{'is-warning': !quranize, 'is-success': encodeResults.length, 'is-danger': !encodeResults.length && keyword}"
                            :value="keyword" @input="updateKeyword" :placeholder="keywordPlaceholder" ref="keyword">
                        <span class="icon is-left">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                    </div>
                    <p class="help">Contoh:
                        <span class="is-italic">masyaallah</span>,
                        <span class="is-italic">wa'tasimu</span>,
                        <span class="is-italic">tabaarokalladzi</span>
                    </p>
                </div>
            </div>
            <div class="box" v-for="encodeResult in encodeResults">
                <div class="block has-text-centered">
                    <button class="button is-small is-rounded" :class="{'is-success': encodeResult.expanded}"
                        @click="clickEncodeResult(encodeResult)">
                        <span class="icon">
                            <i class="fa-solid" :class="encodeResult.expanded ? 'fa-angles-up' : 'fa-angles-down'"></i>
                        </span>
                        <span>{{ encodeResult.locations.length }}</span>
                    </button>
                    <span class="subtitle quran-text ml-1">{{ encodeResult.quran }}</span>
                </div>
                <div v-if="encodeResult.expanded">
                    <nav class="panel" v-for="location in encodeResult.locations">
                        <p class="panel-heading quran-text has-text-centered">
                            {{ suraNames[location.sura_number - 1] }}:{{ toArabicNumber(location.aya_number) }}
                            <button class="button is-small is-rounded" :class="{'is-success': location.expanded}"
                                @click="clickLocation(location)">
                                <span class="icon">
                                    <i class="fa-solid"
                                        :class="location.expanded ? 'fa-angle-up' : 'fa-angle-down'"></i>
                                </span>
                            </button>
                            <a class="button is-small is-rounded is-link" target="_blank"
                                :href="`https://tanzil.net/#${location.sura_number}:${location.aya_number}`">
                                <span class="icon">
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </span>
                            </a>
                        </p>
                        <p class="panel-block quran-text" v-if="location.expanded">
                            <span>
                                {{ location.before_text }}
                                <mark>{{ location.text }}</mark>
                                {{ location.after_text }}
                            </span>
                        </p>
                        <p class="panel-block" v-if="location.expanded">
                            <progress class="progress" v-if="!location.translation"></progress>
                            {{ location.translation }}
                        </p>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
