<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="32x32"
        href="https://raw.githubusercontent.com/alpancs/quranize-service/master/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://raw.githubusercontent.com/alpancs/quranize-service/master/public/favicon-16x16.png">

    <title>Mini Quranize</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        [v-cloak] {
            display: none;
        }

        @font-face {
            font-family: me_quran;
            font-display: swap;
            src: url(https://raw.githubusercontent.com/alpancs/quranize-service/master/public/me_quran.ttf);
        }

        .quran-text {
            font-family: me_quran;
            line-height: 1.7em;
            direction: rtl;
        }
    </style>

    <script src="https://kit.fontawesome.com/3c11d55c8a.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script type="module">
        import init, { Quranize } from "./pkg/quranize.js";
        Vue.createApp({
            data() {
                return {
                    keyword: "",
                    keywordPlaceholder: "preparing the app ...",
                    quranize: undefined,
                };
            },
            computed: {
                encodeResults() {
                    return this.quranize ? this.quranize.encode(this.keyword) : [];
                },
            },
            methods: {
                slowlyUpdateKeyword: _.debounce(
                    function (event) { this.keyword = event.target.value; },
                    200,
                ),
            },
            mounted() {
                setTimeout(() => {
                    let t0 = new Date();
                    init()
                        .then(() => this.quranize = new Quranize(3))
                        .then(() => console.debug(`build time: ${(new Date() - t0) / 1e3} seconds.\nmemory usage: ${performance.memory.usedJSHeapSize / 1e6} MB.`))
                        .then(() => this.keywordPlaceholder = "subhanallah")
                        .then(() => this.$refs.keyword.focus());
                }, 100);
            },
        }).mount('#quranize-app');
    </script>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Mini Quranize</h1>
            <h2 class="subtitle">search in the alquran using alphabet keywords</h2>
        </div>
    </section>

    <section class="section" id="quranize-app">
        <div class="container block">
            <div class="control has-icons-left has-icons-right">
                <input :value="keyword" @input="slowlyUpdateKeyword" ref="keyword" class="input" type="text"
                    :placeholder="keywordPlaceholder">
                <span class="icon is-left">
                    <i class="fa-solid" :class="{'fa-magnifying-glass': quranize, 'fa-gear fa-spin': !quranize}"></i>
                </span>
                <span class="icon is-right" v-show="keyword.trim()">
                    <i class="fa-solid"
                        :class="{'fa-check': encodeResults.length, 'fa-xmark': !encodeResults.length}"></i>
                </span>
            </div>
        </div>
        <div class="container" v-cloak>
            <div v-for="encodeResult in encodeResults">
                <nav class="panel is-primary" v-for="location in encodeResult.locations">
                    <p class="panel-heading">
                        sura {{location.sura_number}} aya {{location.aya_number}}
                    </p>
                    <p class="panel-tabs">
                        <a class="is-active">Quran</a>
                        <a>Translation (Bahasa)</a>
                    </p>
                    <label class="panel-block quran-text">
                        <span>
                            {{ location.before_text }}
                            <mark>{{ location.text }}</mark>
                            {{ location.after_text }}
                        </span>
                    </label>
                </nav>
            </div>
        </div>
    </section>
</body>

</html>
