<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://raw.githubusercontent.com/alpancs/quranize-service/master/public/favicon-32x32.png">

    <title>Mini Quranize</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        [v-cloak] {
            display: none;
        }

        @font-face {
            font-family: me_quran;
            font-display: swap;
            src: url(https://raw.githubusercontent.com/alpancs/quranize-service/master/public/me_quran.ttf);
        }

        .quran-text {
            font-family: me_quran;
            line-height: 2em;
            direction: rtl;
        }
    </style>

    <script src="https://kit.fontawesome.com/3c11d55c8a.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script type="module">
        const quranizeApp = Vue.createApp({
            data() {
                return {
                    keyword: "",
                    encodeResults: [],
                    keywordPlaceholder: "preparing the app ...",
                    quranize: undefined,
                };
            },
            methods: {
                updateKeyword(event) {
                    this.keyword = event.target.value;
                    if (this.quranize)
                        this.encodeResults = this.quranize.encode(this.keyword);
                },
            },
            mounted() {
                let t0 = new Date();
                init()
                    .then(() => this.quranize = new Quranize(3))
                    .then(() => console.debug(`build time: ${(new Date() - t0) / 1e3} seconds.\nmemory usage: ${performance.memory.usedJSHeapSize / 1e6} MB.`))
                    .then(() => this.keywordPlaceholder = "subhanallah")
                    .then(() => this.$refs.keyword.focus());
            },
        });
        import init, { Quranize } from "./pkg/quranize.js";
        quranizeApp.mount('#quranize-app');
    </script>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Mini Quranize</h1>
            <h2 class="subtitle">search in the alquran using alphabet keywords</h2>
        </div>
    </section>

    <section class="section" id="quranize-app" v-cloak>
        <div class="container">
            <div class="block">
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-rounded" type="text" :value="keyword" @input="updateKeyword"
                        :placeholder="keywordPlaceholder" ref="keyword">
                    <span class="icon is-left">
                        <i class="fa-solid" :class="quranize ? 'fa-magnifying-glass' : 'fa-gear fa-spin'"></i>
                    </span>
                    <span class="icon is-right" v-show="keyword">
                        <i class="fa-solid" :class="encodeResults.length ? 'fa-check' : 'fa-xmark'"></i>
                    </span>
                </div>
            </div>
            <div v-for="encodeResult in encodeResults" class="box">
                <div class="content has-text-centered">
                    <p class="quran-text subtitle">
                        {{ encodeResult.quran }}
                        <span class="tag is-small is-rounded">
                            {{ encodeResult.locations.length }}
                        </span>
                    </p>
                    <button class="button is-small is-rounded" @click="encodeResult.expanded ^= true">
                        <span class="icon is-small">
                            <i class="fa-solid" :class="encodeResult.expanded ? 'fa-angle-up' : 'fa-angle-down'"></i>
                        </span>
                    </button>
                </div>
                <div v-if="encodeResult.expanded">
                    <nav class="panel" v-for="location in encodeResult.locations">
                        <p class="panel-heading">
                            sura {{location.sura_number}} aya {{location.aya_number}}
                        </p>
                        <p class="panel-tabs">
                            <a class="is-active">Quran</a>
                            <a>Translation (Bahasa)</a>
                        </p>
                        <label class="panel-block">
                            <div class="quran-text">
                                {{ location.before_text }}
                                <mark>{{ location.text }}</mark>
                                {{ location.after_text }}
                            </div>
                        </label>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
