<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>Quranize</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Alfan Nur Fauzan">
    <meta name="description"
        content="Transforming transliterations into quran forms, e.g. bismillah → بسم اللّه, alhamdulillah → الحمد للّه, arrohman → الرّحمن.">
    <meta property="og:title" content="Quranize">
    <meta property="og:image" content="https://quranize.github.io/assets/ios/512.png">
    <meta property="og:description"
        content="Transforming transliterations into quran forms, e.g. bismillah → بسم اللّه, alhamdulillah → الحمد للّه, arrohman → الرّحمن.">

    <meta name="google-site-verification" content="pNyOyA7MZAm8AoXI8ZyXf_eI5Pa_zTJSGXODDemVWH4">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/ios/180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/ios/32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/ios/16.png">
    <link rel="manifest" href="assets/app.webmanifest">

    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="styles/fontawesome/css/fontawesome.min.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="styles/fontawesome/css/solid.min.css" media="print" onload="this.media='all'">

    <script type="module" src="scripts/app.js"></script>
</head>

<body>
    <header class="hero is-small is-info">
        <div class="hero-body">
            <div class="container has-text-centered">
                <a href="/" class="title">Quranize</a>
            </div>
        </div>
    </header>

    <main class="section" id="quranize-app" v-cloak>
        <div class="container">
            <div class="block">
                <div class="field">
                    <div class="field is-grouped">
                        <div class="control has-icons-left is-expanded" :class="{'has-icons-right': keyword}">
                            <input type="text" ref="keyword" placeholder="masyaallah" title="alphabetic text"
                                class="input is-rounded" :class="hasEmptyResult ? 'is-warning' : 'is-dark'"
                                :value="keyword" @input="updateKeyword" @keyup.enter="$refs.keyword.blur()">
                            <span class="icon is-left">
                                <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                            </span>
                            <span v-show="keyword" class="icon is-right">
                                <button class="delete" @click="setKeyword('')"></button>
                            </span>
                        </div>
                        <div class="control" v-if="supportSharing">
                            <button class="button is-dark is-outlined is-rounded" @click="share"
                                :disabled="hasEmptyResult">
                                <span class="icon">
                                    <i class="fa-solid fa-share-nodes" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <p class="help" :class="{'is-hidden-touch': hasResults && !examples.includes(keyword)}">
                        <span class="tags">
                            <span v-for="example in examples" @click="clickExample(example)"
                                class="tag is-rounded is-italic is-clickable"
                                :class="{'is-primary': example === keyword}">
                                {{ example }}
                            </span>
                        </span>
                    </p>
                </div>
            </div>
            <section v-for="result in encodeResults" class="block">
                <div class="card">
                    <header class="card-header">
                        <button @click="clickExpand(result)" class="card-header-icon">
                            <span class="icon">
                                <i :class="result.expanding ? 'fa-angle-up' : 'fa-angle-down'" class="fa-solid"
                                    aria-hidden="true"></i>
                            </span>
                        </button>
                        <p class="card-header-title is-justify-content-right">
                            <span class="tags">
                                <span class="tag is-rounded is-clickable" :class="{'is-dark': result.explaining}"
                                    @click="clickExplanation(result)">
                                    <span class="icon">
                                        <i class="fa-solid fa-question" aria-hidden="true"></i>
                                    </span>
                                </span>
                                <span class="tag is-rounded is-info">{{ result.location_count }}</span>
                                <span class="quran-text">{{ result.quran }}</span>
                            </span>
                        </p>
                    </header>
                    <div v-if="result.expanding" class="card-content">
                        <div v-for="location in result.locations" class="panel">
                            <header class="panel-heading">
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <div class="level-item">
                                            <div class="buttons has-addons">
                                                <button v-for="translation in Object.keys(translations)"
                                                    @click="clickTranslationSwitch(location, translation)"
                                                    class="button is-small is-rounded"
                                                    :class="{'is-dark': location.translations?.[translation]?.selected}">
                                                    <span class="icon-text">
                                                        <span class="icon"
                                                            v-if="location.translations?.[translation]?.selected && !location.translations?.[translation]?.text">
                                                            <i class="fa-solid fa-spinner fa-spin"
                                                                aria-hidden="true"></i>
                                                        </span>
                                                        <span v-else>{{ translation }}</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="level-item">
                                            <a class="button is-small is-link is-outlined is-rounded"
                                                :href="tanzilURL(location)" target="_blank">
                                                <span class="icon">
                                                    <i class="fa-solid fa-book" aria-hidden="true"></i>
                                                </span>
                                                <span class="icon">
                                                    <i class="fa-solid fa-arrow-up-right-from-square"
                                                        aria-hidden="true"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="level-right">
                                        <div class="level-item">
                                            <span class="quran-text tag is-medium">
                                                {{ suraNames[location.sura_number - 1] }}
                                            </span>
                                        </div>
                                    </div>
                                </nav>
                            </header>
                            <article class="panel-block is-active quran-text has-text-black">
                                <span>
                                    {{ location.before_text }}
                                    <mark>{{ location.text }}</mark>
                                    {{ location.after_text }}
                                    ﴿{{ toArabicNumber(location.aya_number) }}﴾
                                </span>
                            </article>
                            <article v-for="translation in Object.keys(translations)"
                                v-show="location.translations?.[translation]?.selected && location.translations?.[translation]?.text"
                                class="panel-block">
                                <span class="tags">
                                    <span class="tag is-dark">{{ translation }}</span>
                                    <span>{{ location.translations?.[translation]?.text }}</span>
                                </span>
                            </article>
                        </div>
                    </div>
                    <div v-if="result.explaining" class="card-footer">
                        <div class="card-footer-item">
                            <div class="field is-grouped is-grouped-multiline">
                                <div v-for="e in result.compressedExplanation" class="control">
                                    <div class="tags has-addons">
                                        <span class="tag">{{ e.alphabet }}</span>
                                        <span class="tag is-dark quran-text">{{ e.quran }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>

</html>
