<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>Quranize</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Alfan Nur Fauzan">
    <meta name="description" content="Quranize reverts transliteration back into quran form. alquran ➡️ القرآن">
    <meta property="og:title" content="Quranize">
    <meta property="og:image" content="https://quranize.github.io/assets/ios/256.png">
    <meta property="og:description" content="Quranize reverts transliteration back into quran form. alquran ➡️ القرآن">

    <meta name="google-site-verification" content="pNyOyA7MZAm8AoXI8ZyXf_eI5Pa_zTJSGXODDemVWH4">

    <link rel="icon" type="image/png" sizes="32x32" href="assets/ios/32.png">
    <link rel="manifest" href="assets/app.webmanifest">
    <link rel="apple-touch-icon" href="assets/ios/180.png">

    <link rel="stylesheet" href="styles/app.min.css">
    <link rel="stylesheet" href="styles/fontawesome/css/fontawesome.min.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="styles/fontawesome/css/solid.min.css" media="print" onload="this.media='all'">

    <script defer src="scripts/vue.js"></script>
    <script type="module" src="scripts/app.js"></script>
</head>

<body id="quranize-app">
    <section class="hero is-info">
        <div class="hero-body" :class="{'is-hidden-touch': keywordFocused}">
            <div class="container">
                <p class="title"><a href="/">Quranize</a></p>
                <p class="subtitle">
                    <span>alquran</span>
                    <span class="icon">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                    <span class="quran-text" style="font-size: 1em; line-height: 1em;">القرآن</span>
                </p>
            </div>
        </div>
    </section>

    <section class="section" v-cloak>
        <div class="container">
            <div class="block">
                <div class="field">
                    <div class="field is-grouped">
                        <div class="control has-icons-left is-expanded">
                            <input type="text" placeholder="masyaallah" title="alphabetic text" class="input is-rounded"
                                :class="{'is-warning': !quranize, 'is-success': hasResults, 'is-danger': hasEmptyResult}"
                                :value="keyword" @input="updateKeyword" @focus="keywordFocused = true"
                                @blur="keywordFocused = false">
                            <span class="icon is-left">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                        </div>
                        <div class="control" v-show="supportSharing && quranize">
                            <button class="button is-info is-outlined is-rounded" @click="share"
                                :disabled="hasEmptyResult">
                                <span class="icon">
                                    <i class="fa-solid fa-share-nodes"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <p class="help" :class="{'is-hidden-touch': hasResults}">
                        <progress class="progress is-info is-small" v-show="!quranize"></progress>
                        <span class="tags" v-show="quranize">
                            <span class="tag is-italic" @click="clickExample(example)" v-for="example in examples">
                                {{ example }}
                            </span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="box" v-for="encodeResult in encodeResults">
                <nav class="level is-mobile">
                    <div class="level-item">
                        <div class="buttons">
                            <button class="button is-small is-rounded" :class="{'is-info': encodeResult.explained}"
                                @click="clickExplanation(encodeResult)">
                                <span class="icon">
                                    <i class="fa-solid fa-info"></i>
                                </span>
                            </button>
                            <button class="button is-small is-rounded" :class="{'is-info': encodeResult.listed}"
                                @click="clickEncodeResult(encodeResult)">
                                <span class="icon">
                                    <i class="fa-solid fa-table-list"></i>
                                </span>
                            </button>
                            <span class="quran-text subtitle has-text-weight-semibold">
                                {{ encodeResult.quran }}
                            </span>
                        </div>
                    </div>
                </nav>
                <article class="message is-small is-info" v-if="encodeResult.explained">
                    <div class="message-body">
                        <div class="tags">
                            <span class="tag is-white" v-for="(e, i) in encodeResult.explanations">
                                <span class="icon-text">
                                    <span>{{ e }}</span>
                                    <span class="icon">
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </span>
                                    <span class="quran-text">{{ encodeResult.quran[i] }}</span>
                                </span>
                            </span>
                        </div>
                    </div>
                </article>
                <div v-if="encodeResult.listed">
                    <nav class="panel" v-for="location in encodeResult.locations">
                        <div class="panel-heading">
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <div class="level-item">
                                        <div class="buttons has-addons">
                                            <button class="button is-small is-rounded"
                                                :class="{'is-info': selectedTranslation == translation}"
                                                @click="clickTranslationSwitch(translation)"
                                                v-for="translation in Object.keys(availableTranslations)">
                                                {{ translation }}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="level-item">
                                        <a class="button is-small is-link is-outlined is-rounded is-hidden-desktop"
                                            target="_blank" :href="tanzilURL(location)">
                                            <span class="icon">
                                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                            </span>
                                        </a>
                                        <a class="button is-small is-link is-outlined is-rounded is-hidden-touch"
                                            target="_blank" :href="tanzilURL(location)">
                                            <span class="icon-text">
                                                <span>tanzil.net</span>
                                                <span class="icon">
                                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <span class="quran-text has-text-weight-normal is-size-5">
                                            {{ suraNames[location.sura_number - 1] }}
                                            :
                                            {{ toArabicNumber(location.aya_number) }}
                                        </span>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <p class="panel-block quran-text">
                            <span>
                                {{ location.before_text }}
                                <mark>{{ location.text }}</mark>
                                {{ location.after_text }}
                            </span>
                        </p>
                        <p class="panel-block" v-show="selectedTranslation">
                            <progress class="progress is-info is-small" v-show="!location.translation"></progress>
                            <span v-show="location.translation">{{ location.translation }}</span>
                        </p>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
