<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>Quranize</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Alfan Nur Fauzan">
    <meta name="description"
        content="Quranize transforms transliterations into quran forms: bismillah → بسم الله, alhamdulillah → الحمد لله, arrohman → الرحمن">
    <meta property="og:title" content="Quranize">
    <meta property="og:image" content="https://quranize.github.io/assets/ios/512.png">
    <meta property="og:description"
        content="Quranize transforms transliterations into quran forms: bismillah → بسم الله, alhamdulillah → الحمد لله, arrohman → الرحمن">

    <meta name="google-site-verification" content="pNyOyA7MZAm8AoXI8ZyXf_eI5Pa_zTJSGXODDemVWH4">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/ios/180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/ios/32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/ios/16.png">
    <link rel="manifest" href="assets/app.webmanifest">

    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="styles/fontawesome/css/fontawesome.min.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="styles/fontawesome/css/solid.min.css" media="print" onload="this.media='all'">

    <script defer src="scripts/vue.js"></script>
    <script type="module" src="scripts/app.js"></script>
</head>

<body>
    <header class="hero is-small is-info">
        <div class="hero-body">
            <div class="container has-text-centered">
                <a href="/" class="title">Quranize</a>
            </div>
        </div>
    </header>

    <main class="section" id="quranize-app" v-cloak>
        <div class="container">
            <div class="block">
                <div class="field">
                    <div class="field is-grouped">
                        <div class="control has-icons-left is-expanded" :class="{'has-icons-right': keyword}">
                            <input type="text" ref="keyword" placeholder="masyaallah" title="alphabetic text"
                                class="input is-normal is-rounded"
                                :class="hasResults ? 'is-success' : hasEmptyResult ? 'is-warning' : 'is-info'"
                                :value="keyword" @input="updateKeyword" @keyup.enter="$refs.keyword.blur()">
                            <span class="icon is-left">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span v-show="keyword" class="icon is-right">
                                <button class="delete" @click="setKeyword('')"></button>
                            </span>
                        </div>
                        <div class="control" v-show="supportSharing">
                            <button class="button is-info is-outlined is-rounded" @click="share"
                                :disabled="hasEmptyResult">
                                <span class="icon">
                                    <i class="fa-solid fa-share-nodes"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <p class="help" :class="{'is-hidden-touch': hasResults && !examples.includes(keyword)}">
                        <span class="tags">
                            <span v-for="example in examples" @click="clickExample(example)"
                                class="tag is-rounded is-italic is-clickable">
                                {{ example }}
                            </span>
                        </span>
                    </p>
                </div>
            </div>
            <section v-for="result in encodeResults" class="box">
                <div class="block is-flex is-justify-content-center">
                    <div class="box">
                        <div v-if="!result.explaining" class="quran-text has-text-weight-bold has-text-black">
                            {{ result.quran }}
                        </div>
                        <div class="field is-grouped is-grouped-multiline is-flex is-flex-direction-row-reverse is-justify-content-space-between"
                            v-if="result.explaining">
                            <div class="control" v-for="expl in result.compressedExplanation">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">{{ expl.alphabet }}</span>
                                    <span class="tag is-info"><span class="quran-text">{{ expl.quran }}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <nav class="field is-grouped is-flex is-justify-content-center">
                        <span class="control">
                            <button class="button is-small is-rounded" :class="{'is-info': result.explaining}"
                                @click="clickExplanation(result)">
                                <span class="icon"><i class="fa-solid fa-info"></i></span>
                            </button>
                        </span>
                        <span class="control">
                            <button class="button is-small is-rounded" :class="{'is-info': result.expanding}"
                                @click="clickExpand(result)">
                                <span class="icon"><i class="fa-solid fa-table-list"></i></span>
                                <span>{{ result.location_count }}</span>
                            </button>
                        </span>
                    </nav>
                </div>
                <div v-if="result.expanding">
                    <article v-for="location in result.locations" class="panel">
                        <header class="panel-heading">
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <div class="level-item">
                                        <div class="buttons has-addons">
                                            <button v-for="translation in Object.keys(availableTranslations)"
                                                @click="clickTranslationSwitch(location, translation)"
                                                class="button is-small is-rounded"
                                                :class="{'is-info': location.selectedTranslation == translation}">
                                                <span
                                                    v-if="!(location.selectedTranslation == translation && !location.translation)">
                                                    {{ translation }}
                                                </span>
                                                <span class="icon"
                                                    v-if="location.selectedTranslation == translation && !location.translation">
                                                    <i class="fa-solid fa-spinner fa-spin"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="level-item">
                                        <a class="button is-small is-link is-outlined is-rounded"
                                            :href="tanzilURL(location)" target="_blank">
                                            <span class="icon-text">
                                                <span>tanzil.net</span>
                                                <span class="icon">
                                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <span class="quran-text tag is-medium">
                                            {{ suraNames[location.sura_number - 1] }}
                                        </span>
                                    </div>
                                </div>
                            </nav>
                        </header>
                        <article class="panel-block quran-text has-text-black">
                            <span>
                                {{ location.before_text }}
                                <mark>{{ location.text }}</mark>
                                {{ location.after_text }}
                                ﴿{{ toArabicNumber(location.aya_number) }}﴾
                            </span>
                        </article>
                        <article class="panel-block" v-show="location.translation">
                            {{ location.translation }}
                        </article>
                    </article>
                </div>
            </section>
        </div>
    </main>
</body>

</html>
